:root {
  --line-height: 1.2em;
}

.somePicture {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000000;
  object-fit: contain;
  cursor: pointer;
}

.somePictureOverlay {
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  top: .5em;
  right: .5em;
}

.someEntry {
  margin-bottom: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1ch;
}

.someEntry > a {
  position: relative;
  display: block;
  width: 100%;
  min-width: calc(6 * var(--line-height));
  padding-bottom: 100%;
}

.someEntry:last-of-type {
  margin-bottom: 0;
}

.someInfo {
  margin: auto 0;
  position: relative;
  width: 100%;
}

.someTimestamp {
  position: absolute;
  bottom: 100%;
}

.someCaptionShort, .someCaptionLong, .someCaptionDummy {
  line-height: var(--line-height);
  hyphens: auto;
}

/* The caption limited to 3 lines of text. */
.someCaptionShort {
  position: relative;
  height: calc(3 * var(--line-height));
  overflow: hidden;
}

/* The entire caption with no line limitation. */
.someCaptionLong {
  position: absolute;
  background-color: var(--active-pink);
  top: 0;
  z-index: 2; /* to place it on top of the "show more" button */
  cursor: pointer;
  display: none;
}

/* Invisible element to measure the number of lines the caption text takes */
.someCaptionDummy {
  position: absolute;
  visibility: hidden;
  top: 0;
}

/* This element covers the "show more" button when there is nothing more to show. */
.someCaptionDummy > div {
  position: absolute;
  background-color: var(--regular-pink);
  /* if text spans less than 3 lines, place this element under the 3rd line
   * where it covers the "show more" button.
   * otherwise (there's more to show), place this element under the 4th line
   * where it covers nothing */
  top: max(calc(3 * var(--line-height)), min(100%, calc(4 * var(--line-height))));
  width: 100%;
  height: var(--line-height);
  visibility: visible;
  z-index: 1; /* to place it on top of the "show more" button */
}

.someShowmore {
  position: absolute;
  top: 100%;
  width: 100%;
  cursor: pointer;
}
