body {
  background: url(tausta.jpg);
  background-size: 500px 500px;
  background-repeat: repeat;
  background-position: center center;
}

/*se div mihin lisätään sivuston tekstit*/
.centerBox {
  background-color: #F4B9E7;
  padding: 20px;
  width: 70%;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
}

.footer{
  background-color: #F4B9E7;
  padding: 20px;
  width: 70%;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
}

.header {
  width: 100%;
  height: auto;
}

/*navbar vanhempi*/
#navbar {
  margin-left:auto;
  margin-right: auto;
  font-family: Tahoma;
  overflow: hidden;
  height: 40px;
  background-color: #F4B9E7;
  padding: 20px;
  width: 70%; /*padding ja width samat kuin centerboxissa!*/
}

/*navbarin a lapset*/
#navbar a{
  float: left;
  width: 20%;
  display: block;
  color: #black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}


#navbar a.active {
  background-color: #FA9CC2;
  color: black;
}

#navbar a:hover {
  background-color: #FA9CC2;
  color: black;
}


.content {
  padding: 16px;
}

p, h3, h2 {
 font-family: Tahoma;
 }

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
