body {
  background: url(tausta.jpg);
  background-size: 500px 500px;
  background-repeat: repeat;
  background-position: center center;
  margin: 0;
  padding: 0;
}

/*se div mihin lisätään sivuston tekstit*/

.website {
  width: 80%;
  max-width: 1000px;
  margin-left:auto;
  margin-right: auto;
}

.centerBox {
  background-color: #FDD6FE;
  padding: 20px 20px 20px 20px;
  text-align: left;
  box-shadow: 2px 4px 4px 4px rgba(0,0,0,.5);
}

.footer{
  background-color: #FDD6FE;
  padding: 20px;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
  text-decoration: none;
  box-shadow: 2px 4px 4px 4px rgba(0,0,0,.5);
}

.footer p{
  margin: 3px;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: 2px 4px 4px 4px rgba(0,0,0,.5);
}

#header-picture{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*navbar vanhempi*/
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FDD6FE;
  font-family: Tahoma;
  height: auto;
  box-shadow: 2px 4px 4px 4px rgba(0,0,0,.5);
  z-index: 0;
}

.navbarLinks {
  list-style: none;
  display: flex;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 10px;
}

#flag-pic{
  display: inline-block;
  padding: 10px 15px;

}

/*navbarin a lapset*/
#navbarChild a {
  display: inline-block;
  background-color: #FDD6FE;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
}

.active {
  background-color: #FA9CC2;
  color: black;
}

#navbar a:hover {
  background-color: #FA9CC2;
  color: black;
  z-index: 3;
}

.content {
  padding: 16px;
}

p, h3, h2 {
 font-family: Tahoma;
 text-decoration: none;
 }


.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
}

.sticky + .content {
  padding-top: 60px;
}

.social-media-logos{
  padding: 10px;
  align-items: center;
}

.mobile-navbar{
  display:none;
    background-color: #FDD6FE;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
}

#mobile-button {
  display: none;
  padding: 10px;
}

@media (max-width: 600px) {
#mobile-button {
  display: block;
}

.mobileLinks{
  list-style: none;
  display: flex;
  list-style: none;
  font-family: Tahoma;
  text-decoration: none!important;
  display: flex;
}

.navbarChild{
  display: none;
}

.mobileChild{
  display: inline-block;
  background-color: #FDD6FE;
  padding: 10px 15px;
  color: black;
}

.mobileChild a{
  text-decoration: none;
  color: black;
}

.mobile-navbar {
  background-color: #FDD6FE;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  border-bottom: 3px solid #484848;
  top: 0;
  width: 100%;
  position: sticky;
  z-index: 1;
  }
}

}
