body {
  background: url(tausta.jpg);
  background-size: 500px 500px;
  background-repeat: repeat;
  background-position: center center;
  margin: 0;
  padding: 0;
}

/* se div mihin lisätään sivuston tekstit */
.website {
  width: max(90%);
  margin-left: auto;
  margin-right: auto;
}

/* General styling of the highest level elements */
.header, #navbar, .centerBox, .footer{
  background-color: #FDD6FE;
  box-shadow: 2px 4px 4px 4px rgba(0,0,0,.5);
}

.centerBox {
  margin: 20px 0;
  padding: 20px 20px 20px 20px;
  text-align: left;
}

.centerBox p {
  margin-top: 0px;
}

.footer {
  padding: max(20px);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: fit-content;
  text-decoration: none;
}

.footer p {
  margin: 3px;
}

.header {
  display: flex;
}

#header-picture{
  max-width: 100%;
  height: auto;
  object-fit: scale-down;
}

#navbar {
  position: sticky;
  font-family: Tahoma;
  z-index: 3;
  top: 0;
  width: 100%;
}

#navbar-inner {
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-template-rows: 3em;
}

#navbarLinks {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.navbarItem {
  text-decoration: none;
  color: black;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbarItem:hover {
  background-color: #FA9CC2;
}

#mobileLinks > .navbarItem {
  text-align: left;
  justify-content: left;
  white-space: nowrap;
  text-indent: 20px;
}

.active {
  font-weight: bold;
}

p, h3, h2 {
  font-family: Tahoma;
  text-decoration: none;
}

h2{
  margin-top: 0px;
}

.social-media-logos {
  padding: 10px;
  align-items: center;
}

#mobile-button {
  display: none;
  width: 50px;
}

#mobileLinks {
  display: none;
  position: absolute; /* To render menu on top of other content*/
  grid-auto-rows: 2em;
  width: 100%;
  box-shadow: inherit;
  background-color: inherit;
}

@media (max-width: 600px) {
  #mobile-button {
    display: flex;
  }


  #navbarLinks {
    display: none;
  }
}
