{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/ajankohtaista.css">
{% endblock %}

{% block content %}
  {{ super() }}
  {% for entry in media %}
    <div class="some-entry">
      <a href="{{ entry["permalink"] }}"
         target="_blank"
         style="position: relative">
        <img class="some-picture-overlay"
             src="static/ig-logo.svg">
        <img class="some-picture"
             alt="{{ entry["caption"] }}"
          {% if entry["media_type"] == "IMAGE"
          or entry["media_type"] == "CAROUSEL_ALBUM" %}
             src={{ entry["media_url"] }}
          {% elif entry["media_type"] == "VIDEO" %}
             src={{ entry["thumbnail_url"] }}
          {% endif %}>
      </a>
      <div class="some-info">
        <div class="some-timestamp">
          <small>{{ entry["timestamp"] }} </small>
        </div>
        <div class="some-caption" id="short">
          {{ entry["caption"] }}
        </div>
        <div class="some-caption" id="long" onclick="showless(this)">
          {{ entry["caption"] }}
        </div>
        <div class="some-caption" id="dummy">
          {{ entry["caption"] }}
          <div></div>
        </div>
        <div class="some-showmore" onclick="showmore(this)">
          <small> näytä lisää </small>
        </div>
      </div>
    </div>
  {% endfor %}
  <script>
    function showmore(elem) {
      let captionLong = elem.parentNode.querySelector(".some-caption#long");
      captionLong.style.display = "block";
      console.log("showmore");
    }

    function showless(elem) {
      elem.style.display = "none";
      console.log("showless");
    }
  </script>
{% endblock %}
