{% extends "layout_english.html" %}
{% block content %}
<h2>Book us to your event!</h2>
<p>
  We are more than a party orchestra, more than a big band and a way better
  than a symphony orchestra! We can perform for example in student balls,
  events, festivals and weddings. Our repertoire is very vast,
  we play classical, dance music and party music. We can play in small
  sectional groups (for example only string instruments or brass) or we
  can come to your event in a grande 30 person group. We can also handle our
  speaks in English or even in Swedish!</p>
  <p>To book us, please contact us via
  e-mail "sossu.orkesteri [at] gmail.com". Let’s figure out what you want
  and what we can offer you.
</p>
{% endblock %}
