{% extends "layout.html" %}
{% set pictureId = "tilaameidat.jpg" %}
{% block content %}
<p>
  Whether the event requiring entertainment is an anniversary party or a
  wedding held amongst relatives, SOSSu has an appropriate program ready to suit
  your needs. In addition to our complete orchestra consisting of almost 30 instrumentalists, we also offer simpler and smaller quartets consisting of either
  strings, brass or woodwinds. Lastly, the dance group KELA, which can often be
  seen performing together with the orchestra, also offers gigs of their own.
  Our repertoire is not restricted by the borders of cities, provinces, countries
  or genres, but consists instead of music such as delicate pop, music of the
  world or even some traditional classical style pieces.
</p>
<p>
  Send a request for an offer by contacting us using the email-address
  <b>sossu-orkesteri [at] gmail.com</b>, and we will definitely be able to
  find a suitable program set in accordance with your needs!
</p>
{% endblock %}
