{% extends "layout_english.html" %}

{% block head %}{{ super() }}{% endblock %}

{% block content %}
{{ super() }}

<p>
  SOSSu is the orchestra of Savo Student Nation of the University of Helsinki.
  This 12 year old orchestra has over 30 players;
  strings, brass, woodwinds and rhythm section.
  Sometimes you can hear also a little bit different kind of instruments
  played in SOSSu, for example a typewriter!
</p>
<p>
  SOSSu is eager to play whenever it’s possible and we have
  gigs in wide range of student union and university parties.
  We do also wedding – and other party gigs.
  If 30 persons sounds like a too big orchestra,
  we can also arrange smaller groups to play in YOUR party.
  SOSSu plays wide selection of dance music from academic dances to pop music.
  If you’re interested – don’t hesitate to contact us @ sossu.orkesteri@gmail.com!
</p>
<p>
  Haluatko tilata meidät keikalle? Suuntaa siinä tapauksessa <a href="/tilaasossu">“Tilaa meidät
  keikalle” -välisivulle!</a>
</p>
<p>
  Haluatko soittajaksi mukaan? Suuntaa siinä tapauksessa <a href="/tulemukaan">“Tule mukaan” -välisivulle!</a>
</p>
{% endblock %}
