{% extends "layout.html" %}
{% set pictureId = "etusivu.jpg" %}
{% block content %}
<p>
  Savolaisen Osakunnan Soitannollinen Seura SOSSu ry, or in short SOSSu,
  is a student orchestra whose mission is to provide fun and entertaining
  afternoon activities for all Savonian and Savonian-minded students of Helsinki!
  Since this is the English version of the website intended mainly to be read by
  exchange students who do not yet know enough Finnish, entering the orchestra
  simply entails an open and curious mind with regards to Savonian culture.
</p>
<p>
  The orchestra mainly operates as a part of University of Helsinki,
  but students attending for example Aalto University are of course also more
  than welcome. The premises used for practice are located in the very center
  of Helsinki, on the top floor of the New Student Building which showcases
  the beautiful architectural style of old Helsinki that can still be found in many parts of the city.
</p>
<p>
  More than 30 instrumentalists play in our wild and free orchestra! Instruments
  to be found in usual practice sessions include strings, brass, woodwinds
  and percussion. Sometimes more exotic instruments can also be heard in specific
  songs, including a typewriter and a sled!
</p>
<p>
  At times, our orchestra divides into smaller groups (e.g. string, brass
  and woodwind quartets), which travel to perform on separate gigs.
  In addition, we also have our very own student dance group KELA.
</p>
<p>
  Our repertoire is very wide, and doesn’t follow the borders of cities,
  provinces, countries or even genres, but instead includes everything from
  classical music to pop music and film music. In concerts you will hear pieces
  like Finlandia, traditional academic dances and of course also party music
  that makes you want to throw your hands up in the air! We often perform at
  parties held by various student nations and associations as well as at
  events organized by University of Helsinki itself. You might also be able to
  spot us performing at various events like weddings and Christmas
  parties held by private individuals and companies. Last but not least,
   we travel to Sweden every year to attend an international student festival.
   We also organize many events ourselves. With our the iconic traditional
   gray jackets used by the Finnish military, comes a party that you definitely do not want to miss!
</p>
<img id="sisaltoKuvat" src="/static/etusivunKuva.jpg" alt="Orchestra on stairs">
{% endblock %}
