{% extends "layout.html" %}

{% block head %}{{ super() }}{% endblock %}

{% block content %}
{{ super() }}
<p>
  Savolaisen Osakunnan Soitannollinen Seura SOSSu ry, eli tuttavallisemmin
  SOSSu, on Helsingin yliopiston Savolaisen osakunnan orkesteri, joka koostuu
  sekä savolaisista että savonmielisistä soittajista. Yli 30 henkisen
  opiskelijaorkesterimme kokoonpanoon kuuluu jousia, vaskia, puupuhaltimia
  sekä lyömäsoittimia. Välillä mukaan eksyy myös erikoisempia soittimia,
  kuten kirjoituskone ja pulkka!
</p>
<p>
  Orkesterimme sisältää myös paljon pienryhmiä (esim. jousi- ja
  puhallinkvartetteja) jotka keikkailevat pienemmissä tapahtumissa. Tämän
  lisäksi toiminnassamme on mukana myös oma tanssiryhmämme Kela.
</p>
<p>
  Repertuaarimme on hyvin laaja klassisesta musiikista poppiin ja
  elokuvatunnareihin saakka. Meiltä onnistuu niin Finlandia,
  akateemiset tanssit kuin tyrmäävä bilemusa! Haastamme mielellämme
  itseämme venymällä erilaisiin tilaisuuksiin ja tunnelmiin.
  Orkesterimme keikkaileekin ahkerasti mm. eri osakuntien, ainejärjestöjen ja
  yliopiston tilaisuuksissa sekä yksityisjuhlissa kuten häissä tai firman
  pikkujouluissa. Näiden lisäksi järjestämme omia konsertteja,
  joista varmasti eniten odotetuin on jokavuotinen reissu
  opiskelijaorkesterifestivaaleille Ruotsiin.
</p>
<p>
  Haluatko tilata meidät keikalle? Suuntaa siinä tapauksessa <a href="/tilaasossu">“Tilaa meidät
  keikalle” -välisivulle!</a>
</p>
<p>
  Haluatko soittajaksi mukaan? Suuntaa siinä tapauksessa <a href="/tulemukaan">“Tule mukaan” -välisivulle!</a>
</p>
{% endblock %}
