{% extends "layout.html" %}

{% block head %}{{ super() }}{% endblock %}

{% block content %}
{{ super() }}
<p>Savolaisen Osakunnan Soitannollinen Seura SOSSu ry, eli tuttavallisemmin
  SOSSu, on Helsingin yliopiston
  <a href="https://savolainenosakunta.fi/">Savolaisen osakunnan</a> orkesteri, joka koostuu
  sekä savolaisista että savonmielisistä soittajista. Yli 30 henkisen
  opiskelijaorkesterimme kokoonpanoon kuuluu jousia, vaskia, puupuhaltimia
  sekä lyömäsoittimia. Välillä mukaan eksyy myös erikoisempia soittimia,
  kuten kirjoituskone ja pulkka!
</p>
<p>
  Orkesterimme jakautuu toisinaan pienryhmiksi (esim. jousi- ja puhallinkvartetteja),
  jotka keikkailevat pienemmissä tapahtumissa. Tämän
  lisäksi toiminnassamme on mukana myös oma tanssiryhmämme KELA.
</p>
<p>
  Repertuaarimme on hyvin laaja klassisesta musiikista poppiin ja
  elokuvatunnareihin saakka. Meiltä onnistuu niin Finlandia,
  akateemiset tanssit kuin tyrmäävä bilemusa! Haastamme mielellämme
  itseämme venymällä erilaisiin tilaisuuksiin ja tunnelmiin.
  Orkesterimme keikkaileekin ahkerasti mm. eri osakuntien, ainejärjestöjen ja
  yliopiston tilaisuuksissa sekä yksityisjuhlissa kuten häissä tai firman
  pikkujouluissa. Näiden lisäksi järjestämme omia konsertteja sekä matkaamme
  opiskelijaorkesterifestivaaleilla kotimaassa ja Ruotsissa.
</p>
{% endblock %}
