{% extends "layout.html" %}
{% set pictureId = "etusivu.jpg" %}
{% block content %}
<p>
  Savolaisen Osakunnan Soitannollinen Seura SOSSu ry, tuttavallisemmin
  SOSSu, on Helsingin yliopiston
  <a class="textlink" href="https://savolainenosakunta.fi/" target="_blank" rel="noopener noreferrer">Savolaisen osakunnan</a> orkesteri, joka koostuu
  sekä savolaisista että savonmielisistä soittajista. Yli 30 henkisen villin ja
  vapaan opiskelijaorkesterimme kokoonpanoon kuuluu jousia, vaskia,
  puupuhaltimia sekä lyömäsoittimia. Välillä mukaan eksyy myös erikoisempia
  soittimia, kuten kirjoituskone tai pulkka!
</p>
<p>
  Orkesterimme jakautuu toisinaan pienryhmiksi (esim. jousi- ja puhallinkvarteteiksi),
  jotka keikkailevat pienemmissä tapahtumissa. Tämän
  lisäksi toiminnassamme on mukana myös oma tanssiryhmämme KELA.
</p>
<p>
  Ohjelmistomme ei noudata kaupunkien, maakuntien, maiden tai genrejen rajoja,
  vaan on hyvin laaja klassisesta musiikista poppiin ja elokuvatunnareihin saakka.
  Meiltä onnistuu niin Finlandia, akateemiset tanssit kuin tyrmäävä bilemusa!
  Haastamme mielellämme itseämme venymällä erilaisiin tilaisuuksiin ja tunnelmiin.
  Orkesterimme keikkaileekin ahkerasti mm. eri osakuntien, ainejärjestöjen ja
  yliopistojen tilaisuuksissa sekä yksityisjuhlissa kuten häissä tai firman pikkujouluissa.
  Tilauskeikkojen lisäksi järjestämme omia konsertteja sekä esiinnymme opiskelijaorkesterifestivaaleilla
  kotimaassa ja Ruotsissa. Päällämme pitämiemme ikonisten puolustusvoimien harmaiden
  takkien mukana tulee bileet, joita et taatusti halua missata!
</p>
<p>
  <img class="sisaltoKuva" src="/static/etusivunKuva.jpg" alt="Orkesteri rappusilla">
</p>
{% endblock %}
