{% extends "layout.html" %}
{% set pictureId = "tulemukaan.jpg" %}
{% block content %}
<h3>Are you longing to be a part of Helsinki’s most Savonian student orchestra?</h3>
<p>
  SOSSu might just need you! Our main application period is always during fall
   when the academic year starts, but new instrumentalists can also be taken
   in at any time during the year. Our instrumentalists are mainly students or
   alumni of University of Helsinki, but other people do also have
    a possibility to get into the orchestra. Even if we are part of
    <a class="textlink" href="http://savolainenosakunta.fi/?q=inenglish" target="_blank" rel="noopener noreferrer">the Savo Student Nation</a>,
    you do not need to have a background in the area of Savo to be able to join.
    We also have drummers, percussionists and bass guitar players
    in our ranks in addition to the traditional symphony orchestra instruments.
    We unfortunately do not usually have a need for guitar or piano players, but
    if being a part of the orchestra still interests you, don’t hesitate to contact us!
</p>
<p>
  If you do not play any instrument and want to dance instead, you can join KELA!
  KELA doesn’t perform in as many events as our orchestra, but that means the
  events they go to are all the more special. The most awaited point of the year
  for KELA is usually our trip to Sweden, where we attend
  <a class="textlink" href="http://www.rikssmask.se/sofstork.html" target="_blank" rel="noopener noreferrer">an annual international student
  festival</a>.
</p>
<p>
  <img class="sisaltoKuva" src="/static/kela.jpg" alt="Tanssiryhmä keikalla">
</p>
<p>
  If you want to sing, we strongly recommend
  <a class="textlink" href="http://sol.savolainenosakunta.fi/" target="_blank" rel="noopener noreferrer">Savolaisen osakunnan kuoro (SOL)</a> which
   we have a long tradition of performing together with.</p>
<h3>How to become a member?</h3>
<p>
  If we peaked your interest, contact us by email using the address <b>sossu.orkesteri [at] gmail.com</b>
   and tell us a little bit about yourself and your musical background. We hold
   a short session where we play together with newcomers to estimate your level
   to some degree (don’t be afraid, the test is nothing to worry about, and
    you don’t need to prepare anything in advance). The sessions
    are held at the same time as our usual practice. We practice on Tuesdays between
    18 and 21 pm at the New Student Building, Mannerheimintie 5 A, on the top
    floor which is also known as Vinni. Be bold and contact us - you might be
    able to become part of a happy and active student orchestra, make friends and have
    long-lasting memories of unique events and parties!
</p>
<p>
  <img class="sisaltoKuva" src="/static/mukaanKuva.jpg" alt="Orchestra on a gig">
</p>
{% endblock %}
