{% extends "layoutEnglish.html" %}

{% block head %}{{ super() }}{% endblock %}

{% block content %}
{{ super() }}
<h2>Join SOSSu!</h2>
<h3>Would you like to be part of a student orchestra in Helsinki?</h3>
<p>
  Are you an exchange student or non-Finnish speaker student in Helsinki
  University, Aalto University or some other school in Helsinki area?
  Do you play some kind of classical instrument? Do you want to be part of a
  jolly orchestra and learn about Finnish student culture among it? SOSSu might
  just be the place for you!
</p>
<p>
  Our weekly rehearsals take place on the top floor of New Student house
  (Mannerheimintie 5 A) on Tuesdays at 6pm to 9pm.
  Rehearsals are mostly in Finnish, but the language of music is universal
  and we always try to translate tricky parts to our non-Finnish speakers.
  We usually hold entrance playing for new players with a small
  group after our normal weekly rehearsals.
  If you want to be part of us or ask more about us, please
  contact us via e-mail sossu.orkesteri@gmail.com!
</p>
{% endblock %}
