<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/sossu-64x64.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savolaisen Osakunnan Soitannollinen Seura SOSSu ry</title>
    {% endblock %}
  </head>

  <body>
    <div class="website">
      <div class="header">
        <img id="header-picture" src="/static/img-banner.jpg"  object-fit="contain">
      </div>

      <div id="navbar">
        <div id="navbar-inner">
          <ul class="navbarLinks">
            <li class="navbarChild"><a href="/eng">Main</a></li>
            <li class="navbarChild {{luokka1}}"><a href="/bookus">Book us</a></li>
            <li class="navbarChild {{luokka2}}"><a href="/joinsossu">Join SOSSu</a></li>
            <li class="navbarChild {{luokka3}}"><a href="/ajankohtaista">Social Media</a></li>
            <li id="flag-pic"><a href="/"><img src="/static/suomi.png"></a></li>
            <img id="mobile-button" src="/static/menu.png">
          </ul>
        </div>

<!--Mobiiliversion valikon sisältö -->
        <div class="mobile-navbar">
          <ul class="mobileLinks">
          <li class="mobileChild"><a href="/order">Book us</a></li>
          <li class="mobileChild"><a href="/joinsossu">Join SOSSu</a></li>
          <li class="mobileChild"><a href="/ajankohtaista">Social Media</a></li>
          </ul>
        </div>

      </div>

      <br>
      <div class="centerBox">{% block content %}{% endblock %}</div>
      <br>
      <footer class="footer">
        <p>Savolaisen Osakunnan Soitannollinen Seura SOSSu ry</p>
        <p>sossu.orkesteri@gmail.com</p>
        <p>Mannerheimintie 5 A</p>
        <p>00100 Helsinki</p>
        <br>
        <a href="https://www.instagram.com/sossuorkesteri/"><img class="social-media-logos" src="/static/insta"></a>
        <a href="https://www.facebook.com/SOSSu.orkesteri"><img class="social-media-logos" src="/static/fb"></a>
      </footer>
    </div>

    <script>
      window.onscroll = function() {stickyNavBar()};

      var navbar = document.getElementById("navbar");
      var sticky = navbar.offsetTop;

      function stickyNavBar() {
        if (window.pageYOffset >= sticky) {
          navbar.classList.add("sticky")
        } else {
          navbar.classList.remove("sticky");
        }
      }

      var mobileMenuBtn = document.querySelector("#mobile-button");
      var mobileMenu = document.querySelector(".mobile-navbar");

      mobileMenuBtn.addEventListener("click", () => {
        if (mobileMenu.style.display === "flex") {
          mobileMenu.style.display = "none";
        } else {
          mobileMenu.style.display = "flex";
        }
      });


</script>
  </body>
</html>
