<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Savolaisen Osakunnan Soitannollinen Seura SOSSu ry</title>
    {% endblock %}
  </head>

  <body>
  <div class="header">
    <img src="/static/Kansikuva.png">
</div>
  <div id="navbar">
    <a href="/tilaasossu">Tilaa meidät keikalle</a>
    <a href="/ajankohtaista">Ajankohtaista</a>
    <a href="/mukaan">Tule mukaan</a>
  </div>
  <br>
  <div id="centerBox">{% block content %}{% endblock %}</div>
  <br>
  <footer class="footer">
    <p>TÄHÄN</p>
  </footer>

  <script>
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
      } else {
        navbar.classList.remove("sticky");
      }
    }
  </script>
</body>
</html>
