<!DOCTYPE html>
<html lang="fi">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Savolaisen Osakunnan Soitannollinen Seura SOSSu ry</title>
    {% endblock %}
  </head>

  <body>
  <div class="website">
  <div class="header">
    <img src="/static/Kansikuva.png">
  </div>

  <div id="navbar">
    <a href="/" class="logo"><img src="/static/logo_rs.png"></a>
    <ul class="navbarLinks">
    <li class="navbarChild"><a href="/tilaasossu">Tilaa meidät keikalle</a></li>
    <li class="navbarChild"><a href="/mukaan">Tule mukaan</a></li>
    <li class="navbarChild"><a href="/ajankohtaista">Ajankohtaista</a></li>
  </ul>
  </div>

  <br>
  <div id="centerBox">{% block content %}{% endblock %}</div>
  <br>
  <footer class="footer">
    <p>Savolaisen Osakunnan Soitannollinen Seura SOSSu ry</p>
    <p>sossu.orkesteri@gmail.com</p>
    <p>Mannerheimintie 5 A</p>
    <p>00100 Helsinki</p>
    <br>
    <a href="https://www.instagram.com/sossuorkesteri/">
      <img class="social-media-logos" src="/static/insta">
    </a>
    <a href="https://www.facebook.com/SOSSu.orkesteri">
      <img class="social-media-logos" src="/static/fb">
    </a>
  </footer>

    <script>
      window.onscroll = function() {myFunction()};

      var navbar = document.getElementById("navbar");
      var sticky = navbar.offsetTop;

      function myFunction() {
        if (window.pageYOffset >= sticky) {
          navbar.classList.add("sticky")
        } else {
          navbar.classList.remove("sticky");
        }
      }
    </script>
  </div>
  </body>
</html>
