<!DOCTYPE html>
<html lang="fi">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/sossu-64x64.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savolaisen Osakunnan Soitannollinen Seura SOSSu ry</title>
    {% endblock %}
  </head>

  <body>
    <div class="website">
      <div class="header">
        <img id="header-picture" src="/static/img-banner.jpg">
      </div>

      <div id="navbar">
        <div id="navbar-inner">
          <div id="navbarLinks">
            <a class="navbarItem {{luokka0}}" href="/">Etusivu</a>
            <a class="navbarItem {{luokka1}}" href="/tilaasossu">Tilaa meidät keikalle</a>
            <a class="navbarItem {{luokka2}}" href="/mukaan">Tule mukaan</a>
            <a class="navbarItem {{luokka3}}" href="/ajankohtaista">Ajankohtaista</a>
          </div>
          <div id="mobile-button" class="navbarItem"><img src="/static/menu.png"></div>
          <a href="/eng" class="navbarItem"><img src="/static/english.png"></a>
        </div>

        <!--Mobiiliversion valikon sisältö -->
        <div id="mobileLinks">
          <a class="navbarItem {{luokka0}}" href="/">Etusivu</a>
          <a class="navbarItem {{luokka1}}" href="/tilaasossu">Tilaa meidät keikalle</a>
          <a class="navbarItem {{luokka2}}" href="/mukaan">Tule mukaan</a>
          <a class="navbarItem {{luokka3}}" href="/ajankohtaista">Ajankohtaista</a>
        </div>
      </div>

      <div class="centerBox">{% block content %}{% endblock %}</div>

      <footer class="footer">
        <p>Savolaisen Osakunnan Soitannollinen Seura SOSSu ry</p>
        <p>sossu.orkesteri [at] gmail.com</p>
        <p>Mannerheimintie 5 A</p>
        <p>00100 Helsinki</p>
        <br>
        <a href="https://www.instagram.com/sossuorkesteri/"><img class="social-media-logos" src="/static/ig-48x48.png"></a>
        <a href="https://www.facebook.com/SOSSu.orkesteri"><img class="social-media-logos" src="/static/fb-48x48.png"></a>
      </footer>
    </div>

    <script>
      var mobileMenuBtn = document.getElementById("mobile-button");
      var mobileMenu = document.getElementById("mobileLinks");

      mobileMenuBtn.addEventListener("click", () => {
        if (mobileMenu.style.display === "grid") {
          mobileMenu.style.display = "none";
        } else {
          mobileMenu.style.display = "grid";
        }
      });
    </script>
  </body>
</html>
