{% extends "layoutEnglish.html" %}

{% block head %}{{ super() }}{% endblock %}

{% block content %}
{{ super() }}
<h2>Book us to your event!</h2>
<p>
  We are more than a party orchestra, more than a big band and a way better
  than a symphony orchestra! We can play for example in student balls,
  events, festivals and weddings. Our repertoire is very vast,
  we play classical, dance music and party music. We can play in small
  sectional groups (for example only string instruments or brass) or we
  can come to your event in a grande 30 person group. We can also handle our
  speaks in English or even in Swedish! To book us, please contact us via
  e-mail at sossu.orkesteri@gmail.com and let’s figure out what you want
  and what we can offer you.
</p>
{% endblock %}
