{% extends "layout.html" %}
{% set pictureId = "sitsilaulut.jpg" %}
{% block content %}
<h2>Yhteisosakuntalainen sitsilaulukonsertti</h2>
<h3>12.2.2022 Uusi ylioppilastalo</h3>
<p>
  Sitsit - opiskelijaelämän kulmakivi. Mitä ne olisivatkaan ilman monenkirjavia
  juomalauluja? Kun SOSSu järjestää sitsilaulukonsertin, on kyseessä viihteellinen
  illallinen, jossa raikaavat niin sitsilauluklassikot kuin osakuntien omat hitit
  viihdeorkesterin säestyksellä. Unkarin viiniä sinfoniaorkesterilla ja viulusoolo
  Teinilaulun lomassa. Syö, laula ja juo!
</p>
<p>
  Savolaisen Osakunnan Soitannollinen Seura SOSSu järjestää helmikuussa Osakuntien
  yhteisvaltuuskunnan (OYV) kanssa ennennäkemättömän sitsilaulukonsertin, joka
  kokoaa kaikki pääkaupunkiseudun 16 osakuntaa yhteisen pöydän ääreen Vanhalle
  ylioppilastalolle. Tässä uniikissa sitsilaulukonsertissa pääset laulamaan kunkin
  osakunnan rakkaimpia sitsilauluja SOSSun säestämänä, samalla tutustuen eri osakuntien
  sitsiperinteisiin. Illan aikana nautitaan tietenkin myös kolmen ruokalajin illallinen,
  kuten sitseihin kuuluu!
</p>
<p>
  Sitsilaulukonsertin taiteellisesta toteutuksesta vastaa SOSSun kapellimestari
  Susanna “LoLa III” Rantakylä, joka kertoo tapahtuman taustasta näin: “Yliopisto-opinnot
  aloitettuani ihastuin heti osakunnilla vallitsevaan sitsikulttuuriin. Etenkin
  omalla osakunnallani SavOlla sitsaaminen on ollut myös musiikillisesti mielekästä,
  sillä laulutaitoisia löytyy huomattava määrä! SOSSun taiteellisten johtajien
  salaisena haaveena on pitkään ollut ‘Dinner and a show’ -ajatuksella järjestettävä
  konsertti, joten astuttuani kapellimestarin tehtävään päätin ryhtyä tuumasta toimeen.
  Nyt järjestettävä sitsilaulukonsertti yhdistää kolme minulle rakasta asiaa: perinteikkäät
  sitsilaulut, opiskelijaorkesteritoiminnan ja ystävät yli osakuntarajojen.“
</p>
<p>
  Tapahtuma on avoin niin fukseille, civiksille kuin sennuillekin.
  Ilmoitamme sitsien tarkan hinnan marraskuussa, kun tapahtuman ilmoittautuminen
  avataan osakunnille. Pyrimme järjestämään tapahtuman mahdollisimman opiskelijaystävälliseen
   hintaan.
 </p>
<p>
  Seuraamme tarkasti THL:n ohjeistuksia ja määräyksiä tapahtuman järjestämisen
  suhteen ja tiedotamme mahdollisista muutoksista tarpeen mukaan.
</p>
<p>
  Lisätietoja:
  <ul style="list-style-type:none">
    <li><a href="https://www.facebook.com/events/377710880630696" target="_blank" rel="noopener noreferrer">Facebook-tapahtuma</a></li>
		<li>sossu.orkesteri [at] gmail.com</li>
    <li>oyv-hallitus [at] helsinki.fi</li>
    <li>suvituulia.valta [at] gmail.com</li>
    <li>joona.valilehto [at] helsinki.fi</li>
  </ul>
</p>
<p>
  Yritys tai järjestö! Haluatko olla osa tätä ainutlaatuista ja näkyvää tapahtumaa? Ota yhteyttä!
</p>
{% endblock %}
