{% extends "layout.html" %}
{% set pictureId = "tilaameidat.jpg" %}
{% block content %}
<p>
  Olipa kyseessä järjestön vuosijuhlat tai perhepiirissä vietetyt häät, SOSSusta
  löytyy sopiva kokoonpano tilaisuuteen kuin tilaisuuteen. Tarjonnastamme
  löytyy koko lähes 30 henkisen orkesterin lisäksi erillisiä pienryhmäkokoonpanoja (jousisoitin-,
  puupuhallin- ja vaskipuhallinpienryhmät) sekä tanssiryhmämme KELA.
  Pienryhmien ohjelmistot ovat kokoonpanokohtaisesti räätälöityjä, ja usein
  tyylilajeiltaan varsin monipuolisia klassisen musiikin kulmakivistä kansanmusiikin kautta kasarihitteihin.
</p>
<p>
  Sovimme aina erikseen jokaisen tilaajan kanssa tarkemmista yksityiskohdista,
  kuten ohjelmistosta, hinnasta ja mahdollisesta äänentoistosta. Laita siis
  rohkeasti viestiä osoitteeseen <b>sossu.orkesteri [at] gmail.com</b>, sovitaan
  yksityiskohdista ja löydämme taatusti sopivan ohjelmanumeron juuri sinun tarpeisiisi!
</p>
{% endblock %}
