{% extends "layout.html" %}
{% block content %}
<p>
  Olipa kyseessä järjestön vuosijuhlat tai perhepiirissä vietetyt häät, SOSSusta
  löytyy sopiva kokoonpano kaikenmuotoisiin hauskanpitotapahtumiin. Tarjonnasta
  löytyy koko lähes 30 henkisen orkesterin lisäksi myös pelkästään jousi-, puu-
  sekä vaskisoittimista koostuvat erilliset pienryhmäkokoonpanot sekä tanssiryhmämme KELA.
  Ohjelmisto ei noudata kaupunkien, maakuntien, maiden tai genrejen rajoja, vaan
  koostuu niin iskevästä kuin herkästä popista, maailmanmusiikista ja jopa klassisesta.
</p>
<p>
  Sovimme aina erikseen jokaisen tilaajan kanssa tarkemmista yksityiskohdista,
  kuten ohjelmistosta, hinnasta ja mahdollisesta äänentoistosta. Laita siis
  rohkeasti viestiä osoitteeseen <b>sossu.orkesteri [at] gmail.com</b> ja
  sovitaan yskityiskohdista. Löydämme taatusti sopivan ohjelmanumeron juuri sinun tarpeisiisi!
</p>
{% endblock %}
