{% extends "layout.html" %}

{% block head %}{{ super() }}{% endblock %}

{% block content %}
{{ super() }}

<div class="centerBox">
  <h2>Tilaa meidät keikalle!</h2>
<p>Savolaisen Osakunnan Soitannollinen Seura, tai lempinimeä käyttäen SOSSu,
  on villi ja vapaa opiskelijaorkesteri Helsingistä.
  Soittajien päällään pitämien ikonisten puolustusvoimien
  harmaiden takkien mukana tulee ironisesti kyllä bileet, joita et taatusti halua missata!</p>
<br>
<h3>Miksi SOSSu?</h3>

<p>Enemmän kuin bilebändi, enemmän kuin big band, parempi kuin sinfoniaorkesteri:
   eri soittimien peloton soveltaminen lajityyppiin kuin lajityyppiin on SOSSuna
   tunnetun orkesterin erikoisuus. Ohjelmisto ei noudata kaupunkien, maakuntien,
   maiden tai genrejen rajoja, vaan koostuu niin iskevästä kuin herkästäkin popista,
   maailmanmusiikista ja jopa klassisesta.</p>
<br>
<p>Olipa kyseessä sitten järjestön vuosijuhlat tai vaikkapa sukulaisten
  keskuudessa vietetyt häät, SOSSusta löytyy sopiva kokoonpano kaikenmuotoisiin
  hauskanpitotapahtumiin. Tarjonnasta löytyy koko lähes 30 henkisen kamariorkesterin
  lisäksi myös pelkästään jousi-, puu- sekä vaskisoittimista koostuvat erilliset
  pienryhmäkokoonpanot, sekä tanssiryhmämme Kela.</p>
<br>
<p>Tee siis rohkeasti tarjouspyyntö osoitteeseen sossu.orkesteri@gmail.com,
  sovitaan yksityiskohdista ja löydämme taatusti sopivan ohjelmanumeron juuri sinun tarpeisiisi! </p>
</div>
{% endblock %}
