{% extends "layout.html" %}

{% block head %}{{ super() }}{% endblock %}

{% block content %}
{{ super() }}
<h2>Tule mukaan SOSSuun!</h2>
<h3>Tunnetko kaipausta rinnassasi olla osa Helsingin savolaisinta opiskelijaorkesteria?</h3>
<p>
  SOSSu saattaa tarvita juuri sinua! Pääasiallinen rekrytointisesonki
  on aina syksyisin Helsingin yliopiston lukuvuoden alussa,
  mutta uusia soittajia voidaan ottaa mukaan myös vuoden mittaan.
  Soittajamme ovat enimmäkseen Helsingin yliopiston opiskelijoita tai alumneja,
  mutta mikäli opiskelet jossakin muussa pääkaupunkiseudun korkeakoulussa, olet myös erittäin tervetullut mukaan.
  Vaikka olemmekin <a href="https://savolainenosakunta.fi/">Savolaisen osakunnan</a> orkesteri,
  ei sinun tarvitse olla savolainen tai savolaisjuurelainen.
  Perinteisten sinfoniaorkesteri-instrumenttien lisäksi riveissämme soittaa myös rumpaleita,
  perkussionisteja ja (sähkö)basisteja. Kitaristeille tai pianisteille meillä ei valitettavasti ole yleensä tarvetta,
  mutta mikäli orkesteritoiminta silti kiinnostaa, älä epäröi ottaa meihin yhteyttä!
</p>
<p>
  Jos et ole soittaja vaan tanssija, voit päästä tanssiryhmäämme Kelaan!
  Kela keikkailee muuta orkesteria harvemmin, mutta sitäkin suuremmalla innolla.
  Kelan vuoden päätapahtuma on yleensä kevään keikkamatkamme Ruotsiin opiskelijaorkesterifestivaaleille.
</p>
<p>
  Laulamaan mieliville suosittelemme sisaruskuoroamme
  <a href="http://sol.savolainenosakunta.fi/">Savolaisen osakunnan kuoroa (SOL)</a>,
  jonka kanssa meillä on pitkät yhteiset keikkailuperinteet.</p>
<h3>Miten jäseneksi?</h3>
<p>Mikäli kiinnostuit, ota meihin yhteyttä sähköpostitse osoitteeseen sossu.orkesteri [at] gmail.com ja kerro
  hieman itsestäsi ja soittotaustastasi. Uusille soittajille pidetään lyhyt koesoitto,
  jossa soitetaan hieman yhdessä pienryhmäläisten kanssa. Koesoitot pidetään sovitusti harjoitustemme yhteydessä.
  SOSSu harjoittelee tiistaisin klo 18-21 Uudella ylioppilastalolla osoitteessa Mannerheimintie 5 A,
  ylimmässä kerroksessa eli Vinnillä. Ota rohkeasti yhteyttä – saatat päästä osaksi SOSSun iloista
  soittajaporukkaa ja mukaan ikimuistoisiin keikoihin ja tapahtumiin!
</p>
{% endblock %}
