{% extends "layout.html" %}

{% block head %}{{ super() }}{% endblock %}

{% block content %}
{{ super() }}

<div>
  <h2>Tule mukaan SOSSuun!</h2>
  <h3>Tunnetko kaipausta rinnassasi olla osa Helsingin savolaisinta opiskelijaorkesteria?</h3>
  <p>SOSSu saattaa tarvita juuri sinua! Pääasiallinen rekrytointisesonki
     on aina syksyisin Helsingin yliopiston lukuvuoden alussa,
     mutta uusia soittajia voidaan ottaa mukaan myös vuoden mittaan.
     Soittajamme ovat enimmäkseen Helsingin yliopiston opiskelijoita tai alumneja,
     mutta mikäli opiskelet jossakin muussa korkeakoulussa, olet myös erittäin tervetullut mukaan.
     Vaikka olemmekin <a href="https://savolainenosakunta.fi/">Savolaisen osakunnan</a> orkesteri,
     ei sinun tarvitse olla mitenkään savolainen tai savolaisjuurelainen.
     Perinteisten sinfoniaorkesteri-instrumenttien lisäksi riveissämme soittaa myös rumpaleita,
     perkussionisteja ja (sähkö)basisteja. Kitaristeille tai pianisteille meillä ei yleensä ole
     valitettavasti tarvetta, mutta mikäli orkesteritoiminta silti kiinnostaa, älä epäröi ottaa meihin yhteyttä!
  <br>
  <br>
      Jos et ole soittaja vaan tanssija, voit päästä tanssiryhmäämme Kelaan!
      Kela keikkailee muuta orkesteria harvemmin, mutta sitäkin suuremmalla innolla.
      Kelan vuoden päätapahtuma on yleensä kevään keikkamatkamme Ruotsiin opiskelijaorkesterifestivaaleille.
  <br>
  <br>
    Laulamaan mieliville suosittelemme sisaruskuoroamme
    <a href="http://sol.savolainenosakunta.fi/">Savolaisen osakunnan kuoroa (SOL)</a>,
    jonka kanssa meillä on pitkät yhteiset keikkailuperinteet.</p>
</div>
{% endblock %}
