{% extends "layout.html" %}
{% block content %}
<h3>Tunnetko kaipausta rinnassasi olla osa Helsingin savolaisinta opiskelijaorkesteria?</h3>
<p>
  SOSSu saattaa tarvita juuri sinua! Pääasiallinen rekrytointisesonki on aina
  syksyisin Helsingin yliopiston lukuvuoden alussa, mutta uusia soittajia
  voidaan ottaa mukaan myös vuoden mittaan. Soittajamme ovat enimmäkseen
  Helsingin yliopiston opiskelijoita tai alumneja, mutta muutkin ovat erittäin
  tervetulleita mukaan. Vaikka olemmekin
  <a href="https://savolainenosakunta.fi/" target="_blank" rel="noopener noreferrer">Savolaisen osakunnan</a>
  orkesteri, ei sinun tarvitse olla savolainen tai savolaisjuurelainen.
  Meille riittää, kunhan soitat jotain orkesterisoitinta. Soittimet, joille meillä
  on olemassa olevia valmiita sovituksia, ovat jousisoittimet, puupuhaltimet
  (sisältäen saksofonit), vaskipuhaltimet, sähköbasso ja rumpusetti.
  Kitaristeille tai pianisteille meillä ei yleensä ole valitettavasti tarvetta.
  Mikäli soitat jotain harvinaisempaa soitinta ja orkesteritoiminta kiinnostaa,
  älä epäröi ottaa meihin yhteyttä!
</p>
<p>
  Jos et ole soittaja vaan tanssija, voit päästä tanssiryhmäämme KELAan!
  KELA keikkailee muuta orkesteria harvemmin, mutta sitäkin suuremmalla innolla.
  KELAn vuoden päätapahtuma on yleensä kevään keikkamatkamme
  <a href="http://www.rikssmask.se/sofstork.html" target="_blank" rel="noopener noreferrer">Ruotsiin opiskelijaorkesterifestivaaleille</a>.</p>
<p>
<img id="sisaltoKuvat" src="/static/kela.jpg" alt="Tanssiryhmä keikalla">
<br>
  Laulamaan mieliville suosittelemme sisaruskuoroamme
  <a href="http://sol.savolainenosakunta.fi/" target="_blank" rel="noopener noreferrer">Savolaisen osakunnan kuoroa (SOL)</a>,
  jonka kanssa meillä on pitkät yhteiset keikkailuperinteet.</p>
<h3>Miten jäseneksi?</h3>
<p>Mikäli kiinnostuit, ota meihin yhteyttä sähköpostitse osoitteeseen
  sossu.orkesteri [at] gmail.com ja kerro hieman itsestäsi ja soittotaustastasi.
  Uusille soittajille pidetään yleensä lyhyt matalan kynnyksen koesoitto,
  jossa soitetaan joitakin helppoja tai harjoituksissa jo kokeiltuja kappaleita
  pienryhmässä. Koesoitot pidetään sovitusti harjoitustemme yhteydessä. SOSSu
  harjoittelee tiistaisin klo 18-21 Uudella ylioppilastalolla osoitteessa
  Mannerheimintie 5 A, ylimmässä kerroksessa eli Vinnillä. Ota rohkeasti
  yhteyttä – saatat päästä osaksi SOSSun iloista soittajaporukkaa ja mukaan
  ikimuistoisille keikoille ja tapahtumiin!
</p>
<img id="sisaltoKuvat" src="/static/mukaanKuva.jpg" alt="Orkesteri soittamassa">
{% endblock %}
